@charset "utf-8";
/*CSS Final*/
*{
	padding: 0;
	margin: 0;
}

body{
	
	background: white;
	font-size:100%;
}
#wrapper {
	
	width: 80%;
	margin: 0 auto;
	
}
header{
	
    background:#A9A9A9;
	overflow:hidden;
	font-size:110%;

}

.header-inner  {
	width:80%;
	margin:0 auto;
	
	
}
#logo{
	
    float: left;
    text-align: center;
    width:100px;
	margin-left: 2.659574%;
	margin-top:1em;
  
}

#menu-main{
 background: #faeaf5;
 height: 50px;/* to get nave to span across top and dropdown to work*/
 clear:both;

 

}

#menu-main ul{
    width: 85%;
    margin: 0 auto;
    
}

#menu-main li{
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    float: left; 
    text-align: center;
	width:19%; 
   

}
#menu-main li a{
    
    text-decoration: none;
    display: block;
	color:black;
}

 #menu-main li a:hover{
	background-color:#4A0000;

	
} 
#menu-main ul li ul.sub-menu {
display: none;
}


.nav-button,
.primary-nav,
.phone,
.mobile-logo{
	display:none;
}



/* BEGIN NAV DROPDOWN CSS */

#menu-main .button-dropdown {
    position: relative;
}



#menu-main li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

#menu-main li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #4A0000;
    color: #fff;
}

#menu-main li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}


#menu-main li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
 
    text-align: left;
    background: #800;
    z-index: 20;
}
#menu-main li .dropdown-menu li{
    float: none;
    text-align: left;
}


#menu-main li .dropdown-menu.active {
    display: block;
}

#menu-main li .dropdown-menu a {
    width: 150px;
    background: #800;
    padding-left: 20px;
    color: white;
}


/* END NAV CSS */



/*ABOUT PAGE*/
main{
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

aside{
    width: 45%;
    float: right;
    padding-top: 20px;
    margin-left: 2em;
  
   
    
}
/*BACKGROUND IMAGE ASIDE*/  
aside h3{
    text-align: center;
    
}
aside img{
    width: 90%;
    margin: 0 auto;
    background: lightgreen;
}

#contents{
		
    background-image:url(../images/staff.jpg);
    width:100%;
    background-size: cover;
    background-position: center;
   padding-bottom: 67%; /* height divided by width*/
		
	}

#svg{
    position:absolute;
    top:0;
    left:0;
    
}
#staff{
    position: relative;
    
}
.st0{opacity:0;fill:#FFFFFF;}

/*BACKGROUND IMAGE ASIDE END*/  

ul{
    
    list-style-type: none;
    
}
ol{
    list-style-type: none;
    
   
   
}


/*FORM BEGINS*/
div.form{
				
  
    background-color:white;
    margin:10.5px .75em; 
    text-align:center;
    
			}
		
	fieldset {
					border: 1px solid #8797A4;
					padding:.3125em;
                    color:#000;


				}
				label{
					margin-top:5px;
					display:block;
					margin-bottom:5px;
				}
				input{
					display:block;
					width:98%;
					height:20px;
					margin-bottom:10px;
					
					}
textarea{
    width: 98%;
    margin-bottom: 10px;
    
}


footer{
	
	
	/*height: 300px;*/
    clear:both;
	/* background:blue; */
	margin:0 auto;
	max-width:1200px;

}
    
#footer-inner{
    width: 80%;
	/*height: 200px;*/
	/* background:lightblue; */
	margin: 0 auto;
}


#left{
float:left;
/*height: 200px;*/
width: 48.93617%;
/* background: lightgreen; */
padding-bottom: 40px;
}
#left a{
	color:#fff;
}
#right{
float:right;
/*height: 200px;*/
width: 48.93617%;
/* background: orange; */ 
padding-top: 1px;  
    
    
}

.left{
    
     width: 47.826087%;
    float: left;
   /* height: 100px;*/
   /*  background: yellow; */
    border:1px solid  #40253D;
	

   
}



.right{
    
     width: 47.826087%;
    float: right;
   /* height: 100px;*/
     background: #A9A9A9; 
  /*   padding-top: 20px; */
  
     color:#fff; 
	
}
.right li{
		margin-left:3.846154%;
		/* margin-left:10px; */
		margin-bottom:17px;
	}

.left p{
	margin-left:3.846154%;
	/* margin-left:10px; */
	margin-bottom:7.5px
	
}



img{
    max-width: 100%;
}

#container{  /*copyright*/
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
	clear:both;
	
	
    
}
#container ol li{
    display: inline-block;
    font-size: 0.8em;
    font-style: italic;
    list-style-type: none;
    width: 20%;
	margin:0 auto;
	padding:0;
	text-align:center;
    float: left;
		
}

#facials{
	width:60%;
	border:5px solid black;
	padding-left:2em;
	padding-top:20px;
	margin: 20px auto;
}

#massages{
	width:60%;
	border:5px solid black;
	padding-left:2em;
	padding-top:20px;
	margin: 20px auto;
	

}

#manipedi{
	width:60%;
	border:5px solid black;
	padding-left:2em;
	padding-top:20px;
	margin: 20px auto;
	
	
}

#hydro{
	width:60%;
	border:5px solid black;
	padding-left:2em;
	padding-top:20px;
	margin: 20px auto;
	
	
}

#menu{
	width:70%;
	border:5px solid black;
	padding-left:2em;
	padding-top:20px;
	margin: 20px auto;
	
	
}
#menu h3{
    padding-bottom: 1em;
    
}
#menu h4{
    padding-bottom: .75em;
    
}
#specials{
    width:70%;
    margin: 20px auto;
    
}

hr{
    width:25%;
}

/*++++++++++++++++++TYPOGRPHY++++++++*/
p{
	padding-bottom:20px;
	line-height:1.4;
	}
	
h1{	
	font-family: 'Kaushan Script', cursive;
    font-size:3.998em;
    font-weight:800;
    color:black;
    text-align: center;
    padding-bottom: .15em;
}

h2{
    font-size: 2.827em;
    font-weight:800;
    color:black;
    text-align: center;
    padding-bottom: .15em;
   
    
    
}
	h3{
		font-size:1.999em;
		line-height:1.1;
		margin-top:5px;
		margin-bottom:9px;
	}
	h4{
		font-size:1.414em;
		line-height:1.1;
		/* margin-bottom:5px;
		margin-top:10px;
		margin-left:10px; */
		margin: 10px 0 5px .5em;
	}

/*++++++++++++++++++MEDIA QUERIES++++++++*/
	
@media screen and (min-width:1400px){
	body{
		font-size:120%;
		/* background:orange; */
			
		}
		
	}
@media screen and (max-width:1399px){
	body{
		font-size:115%;
	
			
		}
		
	}
	
@media screen and (max-width:1000px){
	body{
	}
			#wrapper #footer-inner{ width: 80%;
		}
		
	}
@media screen and (max-width:800px){
	body{
		
		font-size:85%;	
		}
	#wrapper{
	width:90%;
		}
   
    footer{
         
    }	
	#footer-inner{
	width: 92%;
        margin: 0 auto;
        float: none;
        
	
}	
#left{
	
		
		float:none;
		width:85%;
	
}
#right{
			
		float:none;
		width:85%;
		clear:both;
		}
    .left{
        margin-bottom: 15px;
        margin-right: 1em;
        
    }
    
    div.form{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    input{
        height:30px;
        
    }       
}


@media screen and (min-width:700px){
    #mobile-h1{
        display: none;
    }
}





@media screen and (max-width:700px){
	body{
		 background: #faeaf5; 
			
		}
		
		header {
		display:none;	
		}
	#left{
		padding-left:20px;
		
	}
	#right{
		padding-left:20px;
		
	}
	.left{
			
		float:none;
		width:auto;
		margin:0 auto;
		
		}
	.right{
			
		float:none;
		width:auto;
		}
	main{
			float:none;
			width:auto;
		}
	aside{
			float:none;
			width:auto;
			margin-top:20px;
		}
		
	nav{
		display:none;
	}
    #menu{
        float:none;
        width:75%;
        padding-left: 1em;
    }
    #menu h3{
    padding-bottom: 1em;

    
}
	h2,h3{
		text-align:center;
	}
	img{
		float:none;
		width:auto;
}

	 /* Navigation Button
	-------------------------------------------------------- */
	
	.mobile-logo  {
	   display: block;
		position: absolute;
		top: 0;
		left: 7px;
		z-index: 999;
/*		height:35px;*/
		
			}
			
    mobile-logo img  {
	  
	   height:40px;
		
			}
    
    .phone {
		display: block;
		position: absolute;
		top: 7px;
		right: 67px;
		width: 50px;
		height: 35px;
		
		z-index: 999;
		
	}
	.phone img{
		height:40px;
	}

	.nav-button {
		display: block;
		position: absolute;
		top: 7px;
		right: 7px;
		width: 50px;
		height: 35px;
		background: url('../images/menu-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		border-radius: 5px;
		z-index: 999;
		text-indent: -9999px;
	}
	.nav-button:hover {
		background-color: rgba(0,0,0,.1);
	}
	.nav-button.open {
		background: url('../images/close-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
	}

	/* Navigation Bar
	-------------------------------------------------------- */

	body { padding-top: 50px; }

	.primary-nav {
		width: 100%;
		float: none;
		background-color: #A9A9A9; /* change the menu color */
		background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		display: block;
		height: 50px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 998;
		clear: both;
	}
	.primary-nav li {
		display: none;
		width: 100%;
		font-family: Arial;
	}
	.primary-nav li a {
		display: block;
		width: 90%;
		padding: 10px 5%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1);
	}
	.primary-nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	.primary-nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */

	.primary-nav.open {
		height: auto;
		padding-top: 50px;
	}
	.primary-nav.open li {
		display: block;
	}

	/* Submenus – optional .parent class indicates dropdowns */

	.primary-nav > li:hover > a {
		background: rgba(0,0,0,.5);
		border-bottom-color: transparent;
	}
	.primary-nav li.parent > a:after {
		content: "▼";
		color: rgba(255,255,255,.5);
		float: right;
	}
	.primary-nav li.parent > a:hover {
		background: rgba(0,0,0,.75);
	}
	.primary-nav li ul {
		display: none;
		background: rgba(0,0,0,.5);
		border-top: 0 none;
		padding: 0;
	}
	.primary-nav li ul a {
		border: 0 none;
		font-size: 12px;
		padding: 10px 5%;
		font-weight: normal;
	}
	.primary-nav li:hover ul {
		display: block;
		border-top: 0 none;
	}


img{
    max-width: 100%;
}

}
/* End Mobile Styles */
		
	
	
